<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Annie-Claude Côté</title>
  <link rel="stylesheet" href="stylesheet.css">
  <!-- <%= RUBY_VERSION %> -->
</head>

<body>
  <h1>Bonjour annie.cloud</h1>
</body>
</html>
