<section class="card">
  <header class="card__header">
    <h1 class="title">Annie-Claude Côté</h1>
    <p class="subtitle">Software Developer Lead</p>
  </header>
  <section class="card__section">
    <p>Actively gives a shit about UX.</p>
    <p>Works at Shopify based out of Ottawa, Ontario, Canada.</p>
    <p>Serious about code quality, optimization and finding all the edge cases.</p>
    <p>All of them.</p>
  </section>
  <footer class="card__footer">
    <div class="social">
      <div class="social__icon-links">
        <a href="http://twitter.com/anniecodes" target="_blank" aria-label="Twitter">
          <svg><use xlink:href="#iconTwitter" /></svg>
        </a>
        <a href="https://ca.linkedin.com/in/anniecodes/en" target="_blank" aria-label="LinkedIn">
          <svg><use xlink:href="#iconLinkedin" /></svg>
        </a>
        <a href="https://github.com/anniecodes" target="_blank" aria-label="Github">
          <svg><use xlink:href="#iconGithub" /></svg>
        </a>
        <a href="http://www.google.com/recaptcha/mailhide/d?k=011C7mvSQVAkNDWV2c7kKMfg==&c=RGs6msI-9T1kOytSLiAdEZajISQx_gsmjk1SGrE1CIg=" target="_blank" aria-label="Email">
          <svg><use xlink:href="#iconEmail" /></svg>
        </a>
      </div>
      <div class="social__text">
        <p>I suck at social media but I'm good at my job. I promise.</p>
      </div>
    </div>
  </footer>
</section>
