/*============================================================================
  Card
==============================================================================*/

.card {
  max-width: $content-max-width;
}

.card__header {
  padding: spacing() spacing() 0 spacing();
}

.card__section {
  padding: spacing();
  @include vertical-rhythm(extra-tight);
}

.card__footer {
  padding: 0 spacing() spacing() spacing();
}




