/*============================================================================
  Social
==============================================================================*/

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include vertical-rhythm(extra-tight);
}

.social__text {
  @include text-style-footer;
  text-align: right;
}

.social__icon-links {
  svg {
    width: 32px;
    height: 32px;
  }

  a + a {
    margin-left: spacing(tight);
  }
}
