.layout {
  padding: $spacing-default;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(center, ellipse cover, #ffffff 0%, $beige 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, $beige 100%);
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, $beige 100%);
}
